* {box-sizing:border-box;}
.outer-container{
    width:50%;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    width: 100%;
    background: #1abc9c;
    padding: 20px 25px 50px 25px;
    height: 20px;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    cursor: pointer;
}

/* Next button */
.month .next {
    float: right;
    cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    background-color:#ddd;
    padding-left: 0
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    padding: 12px 0 12px;
    font-size: 15px;
}

/* Days (1-31) */
.days {
    background: #fff;
    padding: 10px 0;
    margin: 0;
}

.days li {
    border: 1px solid #F7F3F4;
    list-style-type: none;
    display: inline-block;
    height: 75px;
    margin: .3%;
    font-size: 18px;
    font-weight: 400;
    color: #777;
    padding-left: 5px;
    padding-top: 4px;
    width: 13.6%;
    margin-bottom: 5px;
}

/* Highlight the "current" day */
/*.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}*/
.active {
    background: #FFF9D9;
    position: relative;
    color: #4B4A50 !important;
    font-weight: 700 !important;
}
.notactive{
    background: #f8f8f8;
    position: relative;
}
.monthname{
    font-size: 12px;
    font-weight: 400;
    padding-left: 3px;
}
.pricelabel{
    font-size: 9px;
    font-weight: 400;
    position: absolute;
    color: #777;
}
.price{
    font-size: 10px;
    padding-top: 16px;
    position: absolute;
}
.todayclass{
    background: #1abc9c;
    color: white !important;
}
.dateHover:hover{
    background: #1abc9c;
    color: white !important;
    cursor: pointer;
}